name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Lint Backend
      run: npm run lint --workspace=@arcane-club/backend
      continue-on-error: true

    - name: Lint Frontend
      run: npm run lint --workspace=@arcane-club/frontend

    - name: Build Backend
      run: npm run build --workspace=@arcane-club/backend

    - name: Build Frontend
      run: npm run build --workspace=@arcane-club/frontend
